<launch>

======SETUP TARGETS AND DEPOTS======
<node name="setup_environment" pkg="drone_control" type="setup_environment.py"/>



======SIMULATION INITIALIZATION======

<include file="$(find gazebo_ros)/launch/elevator_world.launch">     
    <arg name="world_name" value="$(find drone_control)/map_creator.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="recording" value="false"/>
    <arg name="debug" value="false"/>
</include>

<!-- spawn model -->
<include file="$(find drone_control)/launch/uav.launch"/>

============CONTROLLER==============
<node name="drone_controller" pkg="drone_control" type="robot_controller.py"/>

============VISUALIZATION===========
<node name="gazebo_drawing" pkg="plan_visual" type="gazebo_drawing"/>


</launch>
